.pagination,
.pagination-list {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.pagination {
  margin: $pagination-margin;

  @include media("另ablet") {
    justify-content: space-between;
  }

  &.is-centered {
    .pagination-previous {
      order: 1;
    }
    .pagination-list {
      justify-content: center;
      order: 2;
    }
    .pagination-next {
      order: 3;
    }
  }
}

.pagination-list {
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @include media("另ablet") {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-start;
    order: 1;
  }
}

.pagination-previous,
.pagination-next,
.pagination-link {
  font-size: 1em;
  justify-content: center;
  margin: 0.25rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  min-width: 2.25em;

  &[disabled] {
    opacity: 0.5;
  }
}

.pagination-previous,
.pagination-next {
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: no-wrap;
}

.pagination-previous {
  @include media("另ablet") {
    order: 2;
  }
}

.pagination-next {
  @include media("另ablet") {
    order: 3;
  }
}

.pagination-link {
  &.is-current {

  }
}