.pagination,
.pagination-list {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.pagination {
  @include media("另ablet") {
    justify-content: space-between;
  }

  &.is-centered {
    .pagination-previous {
      order: 1;
    }
    .pagination-list {
      justify-content: center;
      order: 2;
    }
    .pagination-next {
      order: 3;
    }
  }
}

.pagination-list {
  flex-wrap: wrap;

  @include media("另ablet") {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-start;
    order: 1;
  }
}

.pagination-previous,
.pagination-next,
.pagination-link {
  justify-content: center;
  text-align: center;
}

.pagination-previous,
.pagination-next {
  white-space: no-wrap;
}

.pagination-previous {
  @include media("另ablet") {
    order: 2;
  }
}

.pagination-next {
  @include media("另ablet") {
    order: 3;
  }
}