$column-gap: 0.75rem;
$container-gap: 32px;

$bg-color: hsl(60, 8, 90.2);
$text-color: hsl(0, 0, 9.8);

$font-stack-body: "GT Sectra Fine";


$tablet: 769px;
$desktop: 960px + (2 * $container-gap);
$touch: $desktop - 1px;
$widescreen: 1152px + (2 * $container-gap);
$fullhd: 1344px + (2 * $container-gap);

$breakpoints: (
  'phone': 320px,
  'tablet': 769px,
  'touch': 1023px,
  'desktop': 1024px,
  'widescreen': 1216px,
  'fullhd': 1408px
) !default;

$navbar-background: $text-color;
$navbar-height: 3.25rem;
$navbar-item-color: $bg-color;
$navbar-item-img-max-height: 1.75rem;

$pagination-margin: -0.25rem;

$section-padding: 3rem 1.5rem;
$section-padding-medium: 9rem 1.5rem;
$section-padding-large: 18rem 1.5rem;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;

$subtitle-color: hsl(200, 6, 20);
$subtitle-size: $size-5;
$title-color: hsl(200, 6, 20);
$title-size: $size-3;

$content-blockquote-background-color: $title-color;
$content-blockquote-padding: 1.25em 1.5em;

$content-heading-line-height: 1.125;