<!doctype html>
<html class="has-navbar-fixed" lang="{{ page.lang|default: 'en' }}">
  {% include head.html %}
  <body class="{{ page.layout }}">
    {% include header.html %}
    <main class="main" role="main" id="main">
      <section class="section">
        <div class="container">
          <!-- <div id="status">
            <progress max="7" value="0"></progress>
          </div> -->
          {{ content }}
        </div>
      </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>