---
layout: default
---

<article>
  <div class="columns">
    <div class="column is-offset-1 is-7">
      {% if page.title %}
      <h1 class="title">{{ page.title }}</h1>
      {% endif %}
    </div>
    <div class="column is-4">
      {% if page.date %}
      <h1 class="subtitle">{{ page.date | date: "%B %d, %Y" }}<br>{{ page.author | prepend: "By: "}}</h1>
      {% endif %}
    </div>
  </div>
  <div class="columns">
    <div class="column is-12">
      {% if page.thumbnail %}
      <figure class="image is-16by9">
        <img src="/uploads/4x3-test-pattern.jpg" alt="">
      </figure>
      {% endif %}
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-1 is-10">
      <div class="content">
        <!-- {% if page.author %}
        <hr>
        <span class="subtitle">{{ page.author | prepend: "By: "}}</span>
        <hr>
        {% endif %} -->
        {{ content }}
      </div>
    </div>
  </div>
</article>